body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textMediumTitle {
  font-size: 20px;
}

.socialLinks {
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.socialLinks li {
  display: inline;
  margin-right: 10px;
}
